<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime.Standard" version="4.7.1" targetFramework="net47" />
  <package id="DockPanelSuite" version="2.15.0" targetFramework="net47" />
  <package id="NAudio" version="1.8.0" targetFramework="net47" />
  <package id="PacketDotNet" version="0.15.0" targetFramework="net47" />
  <package id="SharpPcap" version="4.3.0" targetFramework="net47" />
</packages>